main .catch {
	position: relative;
	height: 1820px;
	width: 100%;
	overflow: hidden;
}
main .catch .bg {
	position: absolute;
	top: 275px;
	bottom: 0;
	min-width: 1800px;
	margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
}
main .catch .bg img {
	width: 100%; 
	position: absolute;
	bottom: 0;
}
main .catch h2 {
	font-size: 51px;
	font-weight: normal;
	color: #0075b6;
	letter-spacing: 2px;
}
main .catch h2 sup {
	font-size: 20.5px;
	display: block;
	line-height: 4em;
}
main .catch h2 + div {
	font-size: 18px;
	color: #0075b6;
	line-height: 1.8em;
	margin: 1em 3.5em;
}
main .catch .merit {
	margin: 50px 0 150px;
}
main {
	margin-bottom: 40px;
}
main .wrap h2 {
	margin: 0;
	padding: 50px 0 30px;
}
main ul.flex {
	margin: 0 auto;
	line-height: 0;
}
main .obi_wrap {
	margin-top: 40px;
	position: relative;
	margin-bottom: 40px;
}
main .obi_wrap .obi {
	position: absolute;
	left: 0; right: 0; bottom: -40px;
	height: 176px;
	background-color: #0075b6;
	z-index: -1;
}
main .obi_wrap ul.flex {
	max-width: 860px;
}
main .obi_wrap a {
	display: inline-block;
	line-height: 0;
	background-color: white;
}
@media screen and (min-width: 1801px) {
	main .catch .merit {
		margin-bottom: 80px;
	}
}
@media screen and (min-width: 981px) {
	main .catch .bg {
		overflow: hidden;
	}
}

@media screen and (max-width: 980px) {
	main .catch {
		height: 1368px;
		height: auto;
	}
	main .catch .bg {
		top: auto;
		min-width: 750px;
		background: url('../img/index/index_bg.SP.jpg') center bottom no-repeat;
	}
	main .catch .bg+div {
		padding-bottom: 17em;
	}
	main .catch .merit {
		margin: 38px 20px 55px;
	}
	main .obi_wrap {
		margin: 14px 0 55px;
	}
	main .obi_wrap .obi {
		height: 77px;
		bottom: -18px;
	}
	main section:not(.recruit) ul.flex {
		width: 100%;
		padding: 0 14px;
		justify-content: space-between;
	}
	main section:not(.recruit) ul.flex li {
		width: calc(50% - 7px);
	}
	main .wrap h2 {
		padding: 28px 0 18px;
	}
	main .wrap h2 img {
		height: 24px;
	}
	main {
		margin-bottom: -10px;
	}
	main iframe {
		width: 100%;
		padding: 0 30px;
	}
}

@media screen and (max-width: 640px) {
	
	main .catch .bg {
/*
		min-width: 0;
		width: 100%;
		background-size: contain;
*/
	}
	
	main .catch h2 + div {
		font-size: 12.5px;
		margin: -1.5em 2.5em 0;
	}
	main .catch h2 + div > p {
	}
	main .catch .bg+div {
		padding-bottom: 250px;
	}
}

@media screen and (max-width: 400px) {
	main .catch .bg {
		min-width: 400px;
	}
	main .catch h2 + div {
		font-size: 12px;
		margin: -1.5em 1.5em 0;
	}
	main .catch .bg+div {
		padding-bottom: 125px;
	}
}
